*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

min-height:100vh;

display:flex;

justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#070b16,
#151d35
);

font-family:
Inter,
sans-serif;

color:white;
}

.card{

width:450px;

padding:30px;

border-radius:24px;

background:
rgba(255,255,255,.05);

backdrop-filter:
blur(20px);

text-align:center;
}

#avatarPreview{

width:120px;
height:120px;

border-radius:50%;

margin:20px auto;

display:block;
}

input{

width:100%;

margin-top:12px;

padding:14px;

border:none;

border-radius:12px;

background:
rgba(255,255,255,.08);

color:white;
}

button{

width:100%;

margin-top:12px;

padding:14px;

border:none;

border-radius:12px;

cursor:pointer;

color:white;

font-weight:700;
}

#generateBtn{

background:
linear-gradient(
45deg,
#00d9ff,
#7a5cff
);
}

#saveBtn{

background:
linear-gradient(
45deg,
#00d96f,
#00b894
);
}

#backBtn{

background:
linear-gradient(
45deg,
#ff4d6d,
#ff7a59
);
}
